<div class="relative min-h-screen w-full">
  <div
    class="absolute top-0 z-[-2] h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
  </div>
  <div
    class="min-h-screen w-full flex justify-center items-center flex-col gap-5"
  >
    <h1 class="text-primary text-4xl">404 Not found</h1>
    <a
      href="/"
      class="text-primary bg-secondary py-2 px-3 rounded-md text-base cursor-pointer hover:scale-105"
      >Volver al Inicio</a
    >
  </div>
</div>
