---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Text from "@/components/Text.astro";
import ImageProfile from "@/components/ImageProfile.astro";
---

<Layout title="bosv - Desarrollador Web">
	<section class="grid grid-cols-2 gap-5 my-20">
		<Text />
		<ImageProfile />
	</section>
	<main></main>
</Layout>
