---
import Layout from "@/layouts/Layout.astro";
import Divider from "@/components/Divider.astro";
import Projects from "@/assets/icons/Projects.astro";
import About from "@/assets/icons/About.astro";
import Tools from "@/assets/icons/Tools.astro";
import BannerSection from "@/components/Banner.astro";
import ProjectsSection from "@/components/Projects.astro";
import SkillsSection from "@/components/Skills.astro";
import AboutSection from "@/components/About.astro";
---

<Layout title="bosv - Desarrollador Web">
  <main>
    <BannerSection />

    <SkillsSection />

    <ProjectsSection />

    <AboutSection />
  </main>
</Layout>
