---
import Divider from "./Divider.astro";
import AboutIcon from "@/assets/icons/About.astro";
---

<section id="sobre-mi">
  <Divider>
    <AboutIcon />
    Sobre Mi
  </Divider>

  <div class="my-20 text-white">
    <h2 class="text-3xl font-bold text-center">Sobre mí</h2>
    <p class="text-center mt-5">
      Soy un desarrollador web con experiencia en tecnologías como React,
      Node.js y TypeScript. Me encanta aprender y compartir conocimientos con la
      comunidad.
    </p>
  </div>
</section>
