<div
	class="absolute inset-0 -z-10 h-full w-full bg-[#f8f8f8] bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"
>
</div>
<!-- <div
	class="absolute insert-0 -z-[10] h-full w-full bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#1d2125_1px)] [background-size:16px_16px]"
>
</div> -->
