---
import ImageProfile from "./ImageProfile.astro";
import Text from "./Text.astro";
---

<section id="inicio" class="grid grid-cols-1 sm:grid-cols-2 gap-5 my-20 p-5">
  <ImageProfile />
  <Text />
</section>
