<button
  class="group relative text-sm font-medium text-[#080700] border-[#080700] inline-flex"
>
  <span
    class="absolute inset-0 w-full h-full bg-[#7c7872] transition-transform group-hover:translate-x-0.5 group-hover:translate-y-0.5"
  ></span>
  <span class="relative border border-current bg-white px-4 py-2"> Botón </span>
</button>
