---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div
  class="rounded-[10px] border border-amber-100 p-4 hover:scale-105 transition"
>
  <img src="" alt="" />
  <div class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900">
    <h3 class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white">
      {title}
    </h3>
    <p class="text-tertiary">{description}</p>
    <div
      class="mt-4 bg-zinc-800 text-primary inline-flex gap-1 pr-2 rounded-sm"
    >
      <slot />
    </div>
  </div>
</div>
