---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<article
  class="rounded-md border border-amber-100 p-4 hover:scale-105 transition-all duration-300"
>
  <div class="min-w-40 overflow-hidden rounded-md">
    <img class="object-cover object-center" src="/uptask.png" alt="Uptask" />
  </div>
  <div class="p-2 flex flex-col jus">
    <div>
      <h3 class="mt-0.5 text-lg font-bold text-primary">
        {title}
      </h3>
      <p class="text-tertiary text-sm">{description}</p>
    </div>
    <div class="mt-4 flex items-center gap-2">
      <slot />
    </div>
  </div>
</article>
