<span class="flex items-center">
  <span class="h-px flex-1 bg-gradient-to-l from-[#e9f0c9] to-slate-900"></span>
  <span class="shrink-0 px-6 flex items-center gap-3 text-base text-[#e9f0c9]"
    ><slot /></span
  >
  <span class="h-px flex-1 bg-gradient-to-r from-[#e9f0c9] to-slate-900"></span>
</span>
