---
import CardProject from "./CardProject.astro";
import Divider from "./Divider.astro";
import ProjectsIcon from "@/assets/icons/Projects.astro";
import Button from "./Button.astro";
---

<section id="proyectos">
  <Divider>
    <ProjectsIcon />
    Proyectos
  </Divider>

  <CardProject />
  <nav class="flex justify-center mb-20">
    <Button href="/proyectos"> Ver más proyectos </Button>
  </nav>
</section>
