---
import Divider from "./Divider.astro";
import Tools from "../assets/icons/Tools.astro";
import CardSkils from "./CardSkils.astro";
---

<section id="habilidades">
  <Divider>
    <Tools />
    Habilidades
  </Divider>

  <div class="my-20 px-4">
    <CardSkils />
  </div>
</section>
