---
import Divider from "./Divider.astro";
import Tools from "../assets/icons/Tools.astro";
---

<section id="habilidades">
  <Divider>
    <Tools />
    Habilidades
  </Divider>

  <div class="my-20 px-4">
    <h1 class="text-4xl">osvad</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
      perferendis eum velit aspernatur, odio incidunt odit nesciunt nemo
      voluptas quidem quasi quo ea excepturi magni. Eum molestias molestiae sit
      iste.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et doloremque
      consequatur expedita enim soluta nam sequi quibusdam nostrum repudiandae
      exercitationem. Sed, nam doloremque placeat libero laborum eveniet aperiam
      illo cupiditate!
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab libero, illum
      tempora similique magni sint omnis exercitationem minima dolores fugiat,
      voluptatum beatae nemo nihil in expedita aperiam. Qui, placeat ipsa?
    </p>
  </div>
</section>
