---
import Social from "./Social.astro";
import Github from "@/assets/icons/Github.astro";
import Linkedin from "@/assets/icons/Linkedin.astro";
import Mail from "@/assets/icons/Mail.astro";

const links = {
  Github: "https://github.com/OssDevp",
  Linkedin: "https://www.linkedin.com/in/osvaldobareirolugo/",
  Mail: "mailto:prueba@gmail.com",
};
---

<div class="grid grid-row-col">
  <div class="flex flex-col justify-end">
    <h1 class="text-4xl text-primary font-bold mb-5">
      Hey, soy <span class="text-secondary">Osvaldo Bareiro</span>
    </h1>
  </div>
  <div class="text-xl mb-6">
    <p class="text-tertiary">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus at alias
      sit saepe nemo, explicabo perferendis dolor ipsam commodi sint ipsum quae
      accusamus perspiciatis vero dicta, laboriosam eveniet optio fugit!
    </p>
  </div>
  <nav class="">
    <Social href={links.Github}>
      <Github class="size-4" />
      Github
    </Social>
    <Social href={links.Linkedin}>
      <Linkedin class="size-4" />
      Linkedin
    </Social>
    <Social href={links.Mail}>
      <Mail class="size-4" />
      Contáctame
    </Social>
  </nav>
</div>
