---
import Badges from "./Badges.astro";
import Github from "@/assets/icons/Github.astro";
import Linkedin from "@/assets/icons/Linkedin.astro";
---

<div class="grid grid-row-col">
  <div class="flex flex-col justify-end">
    <h1 class="text-4xl text-primary font-bold mb-5">
      Hey, soy <span class="text-secondary">Osvaldo Bareiro</span>
    </h1>
  </div>
  <div class="text-xl">
    <p class="text-tertiary">
      Me apasiona el desarrollo de software, tanto en el frontend como en el
      backend, y disfruto explorando nuevas tecnologías y herramientas que me
      permitan crecer como desarrollador.
    </p>
  </div>
  <nav>
    <Badges href="#github">
      <Github class="size-5" />
      Github
    </Badges>
    <Badges href="#linkedin">
      <Linkedin class="size-5" />
      Linkedin
    </Badges>
  </nav>
</div>
