---
import Button from "./Button.astro";
---

<div class="flex flex-col justify-center">
  <h1 class="text-4xl font-bold mb-3">Hola, soy Osvaldo Bareiro</h1>
  <p class="text-[#7a7672]">
    Soy un desarrollador web que disfruta de crear cosas en la web.
  </p>
  <p class="text-[#7a7672]">
    Me gusta aprender cosas nuevas y compartir lo que sé.
  </p>
  <p class="text-[#7a7672]">
    Si tienes un proyecto en mente, no dudes en contactarme.
  </p>
</div>
